<div class="post-container" onclick="onPostClick(event, {{post.id}})">

    <!--Likes modal-->
    <div class="likes-modal" id="likesModal{{post.id}}"> 
        <div class="likes-modal-container">
            <p class="title" style="font-weight: normal;">Liked by:</p>
            {% for like in post.likes|retList %}
            <div class="liked-by">
                <div class="liked-by-user">
                    <img src="{{url_for('static', filename='avatars/' + like + '.png')}}" class="avatar" onerror="this.onerror=null;this.src='https://i.imgur.com/ADuIaMn.png';"> 
                    <p class="poster-name">{{"@" + like}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!--Likes modal-->
    

    <div class="upper-part">
        <div class="poster-info">
            <img src="{{url_for('static', filename='avatars/' + post.posterName + '.png')}}" class="avatar" onerror="this.onerror=null;this.src='https://i.imgur.com/ADuIaMn.png';"> 
            <p class="poster-name">@{{ post.posterName }}</p>
            <p class="post-time">• {{ post.postTime|fromnow }}</p>
        </div>
        {% if current_user.is_authenticated %}
        {% if current_user.username == post.posterName %}
        <div class="post-edit-icons">
            <i class="bi bi-pencil-square" style="font-size: 24px;" onclick="onEditClick(event)"></i>
        <a href="/delete_post?post={{ post.id }}">    
            <i class="bi bi-trash" style="font-size: 24px;"></i>
        </a>
        </div>
        {% endif %}
        {% endif %}
    </div>
    <div class="edit-post-div" id="edit-post-div">
        <form method="POST" action="/edit_post?post={{ post.id }}">
            <textarea name="edit_post" id="edit_post" cols="30" rows="10" class="edit-box" wrap="hard" autocomplete="off">{{ post.content }}</textarea>
            <div class="send-btn">
                <button class="send-status">Update</button>
            </div>
        </form>
    </div>

    <p class="post-text" id="post-text">{{ post.content }}</p>
    {% if post.image != 'none.png' %}
    <div class="uploaded-pic-container">
        <img src="{{url_for('static', filename='uploads/' + post.image )}}" class="uploaded-pic" alt="Picture not found on the server.">
    </div>
    {% endif %}
    <div class="like-comment-count">
        <p class="postLikes" onclick="onLikesClick(event, {{post.id}})" style="cursor:pointer;">Likes: {{ post.likes|likesCount }}</p>
        <p class="postComments">Comments: 0</p>
    </div>
    {% if current_user.is_authenticated %}
    <div class="reaction-buttons">
        {% if current_user.username not in post.likes %}
        <a href="/like_post?post={{ post.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart icon" viewBox="0 0 16 16">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </a>
        {% endif %}
        {% if current_user.username in post.likes %}
        <a href="/like_post?post={{ post.id }}">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart icon" viewBox="0 0 16 16" style="fill: #fc4176;">
                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
            </svg>
        </a>
        {% endif %}
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chat-left icon" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        </svg>
    </div>
    {% endif %}
</div>